<section class='section--full'>
    <div class="container container--flex-center">
        <h2 class="section-header">Contact Us</h2>
        <p>Want to get in touch? Hit us up at:</p>
        <p><b>hello[at]vcestudyguides.com</b></p>
    </div>
</section>