<section class="section--full">
    <div class="container container--grid2">
        <div class="sign-in--clmn">
            <img src="/images/3-e1b6245e2a342f5ff15eee4ed7999b1efc740c1a39f65d2fb61a5837a0673f1a.svg" alt="">
        </div>
        <div class="sign-in--clmn">
            <h2>Start learning the skills you need to succeed.</h2>
            <form id="create-account-form" action="/create-account" method="post">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                                <p>We’re super excited to welcome you to Niche! We’re not quite ready yet, but you can create a free account and start securing your spot in the courses you’re most interested in.</p>
                                <h4>Before we start!</h4>
                                <p>We will be needing credit-card details to complete this account, but we won’t charge you until 2 weeks after the launch of Niche! We just ask for credit card details to make sure you’re not a robot.</p>
                                <button id="start-signup-next" class="btn btn--secondary">Let's go!  <i class="fas fa-chevron-right"></i></button>
                            </div>
                        <div class="carousel-item">
                            <p>We’re super excited to welcome you to Niche! We’re not quite ready yet, but you can create a free account and start securing your spot in the courses you’re most interested in.</p>
                            <h3>Step 1 of 3 - Getting ready</h3>
                            <div class="pricing-card">
                                <div class="pricing-wrap">
                                    <h4>24</h4>
                                    <p class="main--grey">/month</p>
                                </div>
                                <p class="main--grey">paid yearly</p>
                                <p>Develop all the skills you need, with unlimited access to all courses (current and upcoming).</p>
                                <p class="main--blue">Sign-up now, and get 50% off for access until the end of 2019.</p>
                                <input class="pricing-card__radio-input" type="radio" checked>
                            </div>
                            <button id="choose-pricing-next" class="btn btn--secondary">Next <i class="fas fa-chevron-right"></i></button>
                        </div>
                        <div class="carousel-item">
                            <h3>Step 2 of 3 - Tell us a bit about yourself</h3>
                            <div class="form-grid">
                                <div>
                                    <label for="">First Name</label>
                                    <input type="text" name="first_name" required>
                                </div>
                                <div>
                                    <label for="">Last Name</label>
                                    <input type="text" name="last_name" required>
                                </div>
                            </div>
                            <label for="">Email Address</label>
                            <input type="email" name="email" required>
                            <p id="email-error" class="error-msg"></p>
                            <div class="form-grid">
                                <div>
                                    <label>Password</label>
                                    <input type="password" name="password" required>
                                </div>
                                <div>
                                    <label>Confirm password</label>
                                    <input type="password" name="password_confirm" required>
                                </div>
                            </div>
                            <p id="password-error" class="error-msg"></p>
                            
                            <button id="create-account-btn" class="btn form-submit__btn">Create account</button>
                        </div>
            </form>
                        <div class="carousel-item">
                            <h3>Step 3 of 3 - Payment profile</h3>
                            <form action="/charge" method="post" class="payment">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="<%= settings.publishable_key %>"
                                        data-description="Just a reminder - you will not be charged anything today, and we will ask you for permission before charging you when we officially launch."
                                        data-amount="14400"
                                        data-locale="auto"></script>
                            </form>
                            <img src="/images/stripe-payment-logo.png" alt="" srcset="">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                
         <p>Already have an account? Sign in <a href="/login">here.</a></p>
        </div>
    </div>
</section>
<script src="/javascripts/sign-up.js"></script>