<section class='section--full'>
    <div class="container container--flex-center">
        <h2 class="section-header">404 Error</h2>
        <p>The Web page you seek</p>
        <p>Cannot be located, but</p>
        <p>Countless more exist.</p>
        <p>
    </div>
</section>