<section class='section--full'>
    <div class="container container--flex-center">
        <h2 class="section-header">404 Error</h2>
        <p class="main--italics">"The Web page you seek</p>
        <p class="main--italics">Cannot be located, but</p>
        <p class="main--italics">Countless more exist."</p>
        <p>Use the button below to go back to the home page!</p>
        <a href="/" class="btn">Back to home</a>
    </div>
</section>