<section>
    <div class="container--flex-center">
        <h2 class="section-header"> Thank you! </h2>
        <p>Login below and start enrolling in short-courses!<p>
        <a class='btn' href="/login">Login</a>

    </div>
</section>
  
  