<section>
    <div class="container--flex-center">
        <h2 class="section-header"> Thank you for joining Niche!</h2>
        <p>We're working very hard behind the scenes to get our first online courses up for you within the next couple of months. We'll send you emails updating you on our progress as we get closer to the launch date.</p>
        <p>In the meantime, feel free to login and pre-enroll in any short-courses you're interested in!</p>
        <a class='btn' href="/login">Login</a>

    </div>
</section>
  
  